{% extends "hynix/base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css">
  <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"> 
  <link rel="stylesheet" href="{% static 'css/lifecycletable.css' %}">
{% endblock %}

{% block main %}
<div style="text-align: center;">  <!-- 이 안에 있는 모든 내용들을 가운데 정렬하겠다-->
  <div class="title">
    <h1 class="main_title">예측 모델 </h1>
    <h1 class="main_title2">생명 주기 </h1>
    <h1 class="main_title">체크</h1>
  </div>

  <body>
    <div class="main_content">
      <div style="width: 90%; margin: 0 auto;">
        <div class="dataTables_wrapper">
          <table id="table_id" class="display pretty">
            <thead>
              <tr>
                <th>Lot_ID</th>
                <th>avg_value</th>
                <th>real</th>
                <th>real_input_time</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
                <tr>
                  <td>{{ item.Lot_ID }}</td>
                  <td>{{ item.avg_value }}</td>
                  <td>{{ item.real }}</td>
                  <td>{{ item.real_input_time}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  
      <br><br>
      <!-- 데이터 로드 버튼 -->
      <div class="bt_wrapper">
        <button id="loadData" class = "loadData red loading-button" type="button">Update Data</button>
      </div>
    
      <!-- <input id="loadData">Load Data</input> -->
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <br><br>
      <hr id="line" style="display:none;">
      <div id="Chart" style="display:none; width: 1100px; height: 600px; margin: 0 auto;">
      </div>
    </div>
    
  </body>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatableEdit.js' %}"></script>
<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/echarts.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>v



<script> 
 function draw_mlc (dates_data, avg_delta_data){ 
  console.log('Clicked');
  console.log(dates_data);
  console.log(avg_delta_data);

      
  var chartDom = document.getElementById('Chart');
  var line = document.getElementById('line');
  var btn = document.getElementById("loadData");
  var myChart = echarts.init(chartDom);
  var dates_data = JSON.parse(dates_data);
  var avg_delta_data = JSON.parse(avg_delta_data);

  btn.addEventListener('click',function() {
    line.style.display = "block";
    chartDom.style.display = "block";
  });

  var option;
  var option = {
    title:{
      text: 'Model Life Cycle',
      left: 'center',
      fontSize: 40,
    },
    xAxis: {
      type: 'category',
      data: dates_data, 
      name: 'Date',
      nameTextStyle: {
        color: 'black',
        fontSize: 15,
        fontWeight: 'bold'
      },
      axisLabel: {
        formatter: '{value}',
        rotate: 30,
        textStyle: {
          color: 'black',
          fontSize: 13,
          fontWeight: 'bold',
        }
      }
    },
  
  
    yAxis: {
      type: 'value',
      name: 'Delta',
      nameTextStyle: {
        color: 'black',
        fontSize: 15,
        fontWeight: 'bold'},
  
      axisLabel: {
        show: true,
        textStyle: {
          fontWeight: 'bold',
          color: 'black',
          fontSize: 15,
        },
      },
    },
  
  
    series: [
      { data: avg_delta_data, 
        type: 'line',
        lineStyle: {
          color: 'blue',
        },
        markLine: {
          data: [
            {
              yAxis: 5,
              label: {
                show: true,
                fontWeight: 'bold',
                color: 'red',
                formatter: 'Threshold'
              }
            }
          ],
          lineStyle: {
            color: 'red'
          }
        }
      }
    ],
  }; 
  myChart.setOption(option);
  };
</script>



<script type="text/javascript">
    $(document).ready(function() {
        // "Load Data" 버튼 클릭 시
        $("#loadData").click(function() {
            // CSRF 토큰 가져오기
            const csrfToken = $("input[name=csrfmiddlewaretoken]").val();
    
            // 사용자가 입력한 ID와 Real 열 값들 추출
            const IDreal = [];
            $("#table_id tbody tr").each(function() {
                const idValue = $(this).find("td:eq(0)").text();
                const realValue = $(this).find("td:eq(2)").text();
                const realTime = $(this).find("td:eq(3)").text();
    
                // "td:eq(3)" 값이 None이 아니고 비어있지 않은 경우에만 추가
                if (realValue !== "None" && realValue.trim() !== "") {
                    IDreal.push({ "Lot_ID": idValue, "real": realValue, "real_time":realTime});
                }
            });
    


            // POST 요청 보내기
            $.ajax({
                url: "{% url 'mlc' %}",
                type: "POST",
                headers: {"X-CSRFToken": csrfToken},
                data: { IDreal: JSON.stringify(IDreal) }, 
                success: function(response) {

                  var dates_data = response.real_input_time;
                  var avg_delta_data = response.avg_delta;

                  draw_mlc(dates_data, avg_delta_data)

                    if (response.status === "success") {
                        console.log("성공");
                    }                    
                },
                error: function(error) {
                    console.log("오류");               
                }
            });
        });
    });   
</script>



<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
{% endblock %}
