.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginate_button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #9f2c2c !important;
    cursor: pointer;
}

.paginate_button.active {
    background-color: #7f2222 !important;
    color: #8d1e1e !important;
    border-color: #9c0b1e !important;
}

