.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
width: 100%;
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
--bd-violet-bg: #712cf9;
--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

--bs-btn-font-weight: 600;
--bs-btn-color: var(--bs-white);
--bs-btn-bg: var(--bd-violet-bg);
--bs-btn-border-color: var(--bd-violet-bg);
--bs-btn-hover-color: var(--bs-white);
--bs-btn-hover-bg: #6528e0;
--bs-btn-hover-border-color: #6528e0;
--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
--bs-btn-active-color: var(--bs-btn-hover-color);
--bs-btn-active-bg: #5a23c8;
--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
z-index: 1500;
}

/* main */
.navbar-brand {
    background-color: transparent !important;
    box-shadow: none !important;
}
.offcanvas-end {
    transform: none !important;
}
.container-fluid, .row, .box {
  height: 100% !important;
}
.box {
  padding-bottom: 20px;
  text-align: center;
}
.box h1 {
  font-family: 'Giants-Bold';
}
.container-fluid {
  margin-top: 80px;
}
.d-flex {
  display: block !important;
}
.box div h1 {
  font-family: 'Giants-Bold' !important;
  display: inline-block;
}
.mb-3 {
  margin-bottom: 2rem !important;
}

/* drag&drop */
.card .drop_box1, .card .drop_box2 {
  padding: 30px 35px;
  padding-top: 50px;
  height : 50vh;
}
.card {
  height : 50vh;
  width: 60%;
  margin:auto;
  border:none;
}
.drop_box1, .drop_box2 {
  width: 100%;
  height: 300px;
  border: 3px dashed #e31837;
  border-radius: 5px;
  position: relative;
  text-align: center;
  background: #f8f8f9;
  color: #666;
  overflow: hidden;
}

.file_upload_container img {
  margin-bottom: 20px;
  width: auto;
  height: auto;
  max-height: 150px;
  width: auto;
  border-radius: 5px;
  overflow: hidden;
}
.drop_box1 img, .drop_box2 img {
  height: 100%!important;
  width: auto!important;
  border-radius: 0px;
  margin: 0 auto;
}
.drop_box1 i, .drop_box2 i {
  font-size: 6em;
  color: #ccc;
}
.drop_box1 input, .drop_box2 input {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.item-wrapper input {
  height: 43px;
  line-height: 43px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.drop_box1 label, .drop_box2 label {
  margin-top: 30px;
}
.px-md-4 {
  margin: auto;
}
header h5 {
  margin-bottom: 20px;
}
.choose_btn, .upload_btn {
  background-color: #e31837;
  color :white;
  border:none;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-radius: 0.3rem;
}
/* .bt_wrapper {
  display: flex;
  
} */
.reupload, .pred {
  width: 150px;
  height: 40px;
  color:white;
  display: block;
  text-align: center;
  border:none;
  border-radius: 0.3rem;
  font-size: 17px;
}
.reupload {
  background-color: #e31837;
  float:left;
}
.pred {
  background-color: #f58025;
  float:right;
}

/* table */
.table {
  text-align: center;
  --bs-table-striped-bg : none;
  border-collapse: collapse !important;
}
thead {
  background-color: #e66377;
  border:none;
  height: 40px;
  line-height: 35px;

}
thead tr {
  color:white;
}
tbody {
  border: 1px dashed #929292 !important;
  background-color: white;
}
tbody tr td{
  border-bottom: 1px dashed #929292;
  background-color: white;
}


  
/* button */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

.btn {
  width: 150px;
  height: 50px;
  background: #de4058;
  color: #fafafa;
  display: block;
  text-decoration: none;
  border-radius: 0.5em;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 0 0.75em 0 #e31837, 0 1.25em 0 0.35em;
  text-align: center;
  padding: 0.5em 0.5em 0.5em;
  position: relative;
  -webkit-transition: all .1s;
  transition: all .1s;
}
.btn:hover, .btn:focus {
  -webkit-transition: all .25s;
  transition: all .25s;
  background: #fafafa;
  color: #66cbff;
  box-shadow: 0 0.75em 0 #c2c2c2, 0 1.25em 0 0.35em #c9e8e3;
}
.btn:active {
  box-shadow: 0 0 0 0.35em #c9e8e3;
  -webkit-transform: translate(0, 1.25em);
          transform: translate(0, 1.25em);
  -webkit-transition: all .1s;
  transition: all .1s;
}

.top {
  font-size: 0.8em;
  letter-spacing: .08em;
}

.btm {
  font-size: 1.5em;
}

.btn span{
  display: block;
}